<div style='text-align: center; font-size: 22px; font-weight: bold; margin-bottom: 20px;'>Scan Results Summary:</div>

<div style='line-height: 1.8; font-size: 18px; margin-bottom: 45px;'>
    - Total Memory Dump Files Scanned: {total_count}<br>
    - Benign Dump Files: {benign_count}<br>
    - Malicious Dump Files: <span style='color: red;'>{malicious_count}</span><br><br><br><br>

    <span style='font-size: 22px;'>Device Status: </span>
    <span style='color: red;'>{status}</span> ({malicious_count} out of {total_count} dump files flagged as malicious).
    <br>
    {explanation_link} 
</div>

<br><br><br>
<div style='position: absolute; right: 10px; font-size: 16px; text-align: right; margin-bottom: 1px;'>
    Scan Date: {date_str} {time_str}
</div>
